{% extends "base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">These are my contacts</h2>

  <div class="row">
    <!-- Contact + Social Media Section -->
    <div class="col-md-12 bg-primary text-white p-4 rounded">
      <h4 class="text-center">Connect with me</h4>
      <h5 class="text-dark">Phone:</h5>
      <p>+254 745 744 806 </p>
      <h5 class="text-dark">Email:</h5>
      <p>simonkamau@gmail.com</p>

      <div class="mt-4">
        <a href="https://github.com/symonmaina" class="text-white me-4" target="_blank">
          <i class="fab fa-github fa-2x"></i> 
        </a>
        <a href="https://www.linkedin.com/in/simon-maina-03636b2a6" class="text-white me-4" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://twitter.com/simonkamau16570" class="text-white me-4" target="_blank">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://instagram.com/simongyver" class="text-white" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>

    <!-- Empty Column (optional space or future use) -->
    

      
    </div>
  </div>
</div>
{% endblock %}
