{% extends "base.html" %}
{% block title %}
PROJECTS
{% endblock %}

{% block content %}
<h2>These are some of my projects</h2>
<div class="container mt-5">
  <div class="row">
    {% for project in projects %}
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card h-100">
        <img src="{{ url_for('static', filename='images/' + project.image_file) }}" class="card-img-top"
          alt="{{ project.title }}" style="height: 200px; object-fit: cover;">
        <div class="card-body bg-secondary text-white h-100 d-flex flex-column">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">
            {{ project.description }}
          </p>
          {% if project.link %}
          <a href="{{ project.link }}" class="btn btn-primary mt-auto" target="_blank">View Project</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}